@model IEnumerable<Model.ComplainRecord>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap.js"></script>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <link href="~/PagedList.css" rel="stylesheet" />
</head>
<body>
    <div style="width: 800px; margin-left:auto;margin-right:auto">
        <form action="Index" class="form-inline" role="form" method="post">
            <div class="form-group">
                <input type="text" name="keyword" class="form-control" placeholder="please input keyword" id="leyword" />
                <input type="submit" name="name" class="btn btn-primary" value="search" />
            </div>
        </form>
        <p>@Html.ActionLink("Create", "Create")
            
        </p>
        <form action="Order" class="form-inline" role="form" method="post">
            <select name="ddl">
                <option value="Id">Id</option>
                <option value="Name">Name</option>
                <option value="Info">Info</option>
                <option value="Phone">Phone</option>
            </select>
            <input type="submit" name="name" class="btn btn-primary" value="Order" />
        </form>
            <table class="table table-bordered">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Info)</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.Info</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                    </tr>
                }
            </table>
            <ul class="pagination">
                <li><a href="Index?pageIndex=@(ViewBag.CurrentPage==1?1:ViewBag.CurrentPage-1)">&laquo;</a></li>
                <li><a>@ViewBag.CurrentPage</a></li>
                <li><a href="Index?pageIndex=@(ViewBag.CurrentPage == ViewBag.PageCount ? ViewBag.PageCount : ViewBag.CurrentPage + 1) ">&raquo;</a></li>
                <li><a>共 @(ViewBag.PageCount) 页</a></li>
            </ul>
</div>
</body>
</html>
